Users/Zack/CloudSDK_SmokeTest/Settings/InputParameters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="InputParameters"
    targetNamespace="http://www.cloud.com/InputParameters.xsd"
    elementFormDefault="qualified"
    xmlns="http://www.cloud.com/InputParameters.xsd"
    xmlns:mstns="http://www.cloud.com/InputParameters.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:annotation>
    <xs:appinfo>Cloud.com InputParameters XML Schema</xs:appinfo>
    <xs:documentation xml:lang="en-us">
      InputParameters.xsd and resulting generated code
      Cloud

      Created by BobS.

      Copyright (c) Cloud.com. All rights reserved.

      Manually copy this copyright declaration to the header of any generated code files created from this schema
    </xs:documentation>
  </xs:annotation>

  <xs:complexType name="Copyright">
    <xs:sequence>
      <xs:element name="FileName" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="Copyright" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Implementation of InputParameters.xsd XML Schema. Cloud. Copyright (c) Cloud.com. All rights reserved." />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Creator" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InputParams">
    <xs:all>
      <xs:element name="API_Key" type="xs:string" minOccurs="1"/>
      <xs:element name="API_Secret" type="xs:string" minOccurs="1"/>
      <xs:element name="ActiveSyncBoxID" type="xs:int" minOccurs="1"/>
      <xs:element name="ActiveSync_Folder" type="xs:string" minOccurs="1"/>
      <xs:element name="ActiveSync_Folder2" type="xs:string" minOccurs="0" />
      <xs:element name="ActiveSync_TraceFolder" type="xs:string" minOccurs="1"/>
      <xs:element name="ManualSyncBoxID" type="xs:int" minOccurs="1"/>
      <xs:element name="ManualSync_Folder" type="xs:string" minOccurs="1"/>
      <xs:element name="ManualSync_TraceFolder" type="xs:string" minOccurs="1"/>
      <xs:element name="Token" type="xs:string" minOccurs="0"/>
      <xs:element name="TraceType" type="xs:int" minOccurs="1"/>
      <xs:element name="TraceLevel" type="xs:int" minOccurs="1"/>
      <xs:element name ="SettingsPath" type="xs:string" minOccurs="1" />
      <xs:element name="FileNameMappingFile" type="xs:string" minOccurs="1" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ModificationObject">
    <xs:sequence>
      <xs:element name="type" >
        <xs:simpleType>
          <xs:restriction base ="xs:string" >
            <xs:enumeration value="File" />
            <xs:enumeration value="Folder" />
            <xs:enumeration value="SyncBox" />
            <xs:enumeration value="Session" />
            <xs:enumeration value="Plan" />
            <xs:enumeration value="None" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SmokeTask">
    <xs:sequence>
      <xs:element name="type" >
        <xs:simpleType>
          <xs:restriction base ="xs:string" >
            <xs:enumeration value = "CreateSyncBox" />
            <xs:enumeration value = "Creation" />
            <xs:enumeration value = "Deletion" />
            <xs:enumeration value = "DownloadAllSyncBoxContent" />
            <xs:enumeration value = "Rename" />
            <xs:enumeration value = "FileUndelete" />
            <xs:enumeration value = "HttpTest" />
            <xs:enumeration value = "ListItems" />
            <xs:enumeration value = "Comparison" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SyncType" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Active"/>
            <xs:enumeration value ="Manual" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="InnerTask" minOccurs="0" type="SmokeTask" />
      <xs:element name="ObjectType" type="ModificationObject" />
      <xs:element name="SelectedSyncBoxID" type="xs:long" />
      <xs:element name="AtIndex" type="xs:int" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>



  <xs:complexType name="Creation">
    <xs:complexContent >
      <xs:extension base="SmokeTask" >
        <xs:sequence>
          <xs:element name="Name" type ="xs:string" />
          <xs:element name="Path" type ="xs:string" />
          <xs:element name="CreateNew" type="xs:boolean" />
          <xs:element name="Count" type="xs:int" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Deletion">
    <xs:complexContent >
      <xs:extension base="SmokeTask" >
        <xs:sequence>
          <xs:element name="Name" type ="xs:string" minOccurs="0" />
          <xs:element name="FullName" type ="xs:string" minOccurs="0" />
          <xs:element name="RelativePath" type ="xs:string" minOccurs="0" />
          <xs:element name="FullPath" type ="xs:string" minOccurs="0" />
          <xs:element name="DeleteAll" type="xs:boolean" minOccurs="0" />
          <xs:element name="DeleteCount" type="xs:int" minOccurs="0"/>
          <xs:element name="ID" type="xs:long" minOccurs="0"/>
          <xs:element name="ServerID" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Rename">
    <xs:complexContent >
      <xs:extension base="SmokeTask" >
        <xs:sequence>
          <xs:element name="OldName" type ="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="NewName" type ="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="RelativeDirectoryPath" type ="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="ServerID" type="xs:long" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Undelete">
    <xs:complexContent >
      <xs:extension base="SmokeTask" >
        <xs:sequence>
          <xs:element name="FullPath" type ="xs:string" />
          <xs:element name="FileName" type ="xs:string" />
          <xs:element name="Version" type ="xs:string" />
          <xs:element name="IsFile" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DownloadAllSyncBoxContent">
    <xs:complexContent >
      <xs:extension base="SmokeTask" >
        <xs:sequence>
          <xs:element name="FolderPath" type ="xs:string" />
          <xs:element name="FilePath" type ="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CreateSyncBox">
    <xs:complexContent >
      <xs:extension base="SmokeTask" >
        <xs:sequence>
          <xs:element name="CreateNew" type="xs:boolean"/>
          <xs:element name="Count" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HttpTest">
    <xs:complexContent >
      <xs:extension base="SmokeTask" >
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ListItems">
    <xs:complexContent >
      <xs:extension base="SmokeTask" >
        <xs:sequence>
          <xs:element name="ListType">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Sessions" />
                <xs:enumeration value="Plans" />
                <xs:enumeration value="SyncBoxes" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="ExpectedCount" type="xs:int" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Comparison" >
    <xs:complexContent>
      <xs:extension base="SmokeTask">
        <xs:sequence>
          <xs:element name="ComparisonType">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="ManualToActive" />
                <xs:enumeration value="ActiveToServer" />
                <xs:enumeration value="ActiveToActive" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="UseDynamicSyncBox" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="ParallelTaskSet">
    <xs:choice >
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SmokeTask" type="SmokeTask" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Scenario">
    <xs:choice>
      <xs:element name="ScenarioTasks" type="ParallelTaskSet" minOccurs="0" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="MockFile" >
    <xs:sequence>
      <xs:element name="type" >
        <xs:simpleType>
          <xs:restriction base ="xs:string" >
            <xs:enumeration value ="FileByPath" />
            <xs:enumeration value="RandomDataFile" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FileByPath">
    <xs:complexContent >
      <xs:extension base="MockFile" >
        <xs:sequence>
          <xs:element name="FilePath" type ="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RandomDataFile">
    <xs:complexContent >
      <xs:extension base="MockFile" >
        <xs:sequence>
          <xs:element name="FilePath" type ="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--<xs:element name="SmokeTest">
    <xs:complexType>
      <xs:all>
        <xs:element name="Copyright" type="Copyright" />
        <xs:element name="InputParams" type="InputParams" />
        <xs:element name="ParallelTaskSet" type="ParallelTaskSet" />
      </xs:all>
    </xs:complexType>
  </xs:element>-->
  <xs:element name="SmokeTest">
    <xs:complexType>
      <xs:all>
        <xs:element name="Copyright" type="Copyright" />
        <xs:element name="InputParams" type="InputParams" />
        <xs:element name="Scenario" type="Scenario"  />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
